numpy
sounddevice
soundfile
pyinstaller
faster-whisper==1.2.1
ctranslate2
pystray
Pillow
pyobjc-framework-Cocoa; platform_system == "Darwin"
customtkinter
certifi
webrtc-audio-processing; platform_system != "Darwin" or platform_machine != "arm64"
